//aqui se importa las fuentes
$nameFont : "rubik";
/*
* deben cambiar el nombre "ptsans" por el nombre de su fuente
* considerar los formatos que se necesitan
*/
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-light.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} light),
    url('#{$font-path}rubik/#{$nameFont}-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-light.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-light.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-light.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-lightitalic.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Light Italic),
    url('#{$font-path}rubik/#{$nameFont}-lightitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-lightitalic.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-lightitalic.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-lightitalic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-lightitalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-regular.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Regular),
    url('#{$font-path}rubik/#{$nameFont}-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-regular.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-regular.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-italic.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Italic),
    url('#{$font-path}rubik/#{$nameFont}-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-italic.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-italic.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-italic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-medium.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Medium),
    url('#{$font-path}rubik/#{$nameFont}-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-medium.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-medium.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-mediumitalic.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Medium Italic),
    url('#{$font-path}rubik/#{$nameFont}mediumitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-mediumitalic.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}mediumitalic.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}mediumitalic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}mediumitalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-bold.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Bold),
    url('#{$font-path}rubik/#{$nameFont}-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-bold.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-bold.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-bolditalic.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Bold Italic),
    url('#{$font-path}rubik/#{$nameFont}-bolditalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-bolditalic.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-bolditalic.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-bolditalic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-bolditalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-black.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Black),
    url('#{$font-path}rubik/#{$nameFont}-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-black.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-black.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-black.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-black.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url('#{$font-path}rubik/#{$nameFont}-blackitalic.eot'); /* IE9 Compat Modes */
  src: local(#{$nameFont} Black Italic),
    url('#{$font-path}rubik/#{$nameFont}-blackitalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //url("#{$font-path}rubik/#{$nameFont}-blackitalic.woff2") format("woff2"), /* Super Modern Browsers */
    url("#{$font-path}rubik/#{$nameFont}-blackitalic.woff") format("woff"), /* Pretty Modern Browsers */
    url('#{$font-path}rubik/#{$nameFont}-blackitalic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('#{$font-path}rubik/#{$nameFont}-blackitalic.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 800;
  font-style: italic;
}
